.container {
  max-width: 700px;
  margin: auto;
  font-family: Arial;
}

button {
  margin: 6px;
  padding: 6px 12px;
}

.card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
}

input {
  display: block;
  margin: 5px 0;
  padding: 6px;
  width: 100%;
}
